.lifecounter {
  font-size: 42pt;
  text-align: center;
}

.lifecounter-indicator {
  font-size: 27pt;
  text-align: center;
}

.lifecounter-current-indicator {
  font-size: 72pt;
  text-align: center;
}

.btn {
  font-size: 27pt;
  text-align: center;
  width: 100%;
}
